body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Open Sans';
}

#calculadora {
    width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

#resultado {
    height: 100px;
    width: 420px;
    background-color: #000;
    color: #fff;
    font-size: 3rem;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cuatro columnas */
    gap: 10px; /* Espacio entre botones */
}

button {
    background-color: #c9c6c6;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 5px;
    width: 100%;   /* Hace que los botones tengan el mismo ancho */
    height: 60px;
    cursor: pointer;
    display: inline-block;
}

.eliminador {
    background-color: #e9890ce0;
}

.operador {
    background-color: #c9c6c69f;
    color: #fff;
}

.igual {
    background-color: #eb242ee0;
    color: #fff;
}